{:paths ["src"]

 :deps {clj-python/libpython-clj       {:mvn/version "2.025"}
        com.taoensso/timbre            {:mvn/version "6.3.1"}
        cprop/cprop                    {:mvn/version "0.1.19"}
        mount/mount                    {:mvn/version "0.1.17"} ; Probably should only be in dev, but it does (py/initialize!)
        org.clojure/core.unify         {:mvn/version "0.5.7"}
        org.clojure/math.combinatorics {:mvn/version "0.2.0"}
        org.slf4j/slf4j-nop            {:mvn/version "2.0.7"}}  ; Stop spurious logging!}

 :aliases  {:dev  {:extra-paths ["env/dev" "test"]
                   :extra-deps  {expound/expound                 {:mvn/version "0.9.0"} ; more readable spec messages
                                 com.lambdaisland/classpath      {:mvn/version "0.4.44"}
                                 org.clojure/tools.namespace     {:mvn/version "1.4.4"}}}

            :test {:extra-paths    ["test" "env/dev"]
                   :main-opts      ["-m" "kaocha.runner"]
                   :extra-deps     {lambdaisland/kaocha          {:mvn/version "1.87.1366"}
                                    ;; Since I'm running from the command line, bin/koacha, need to repeat these.
                                    com.lambdaisland/classpath      {:mvn/version "0.4.44"}
                                    org.clojure/tools.namespace  {:mvn/version "1.4.4"}}}

            :build    {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
                       :ns-default build}}}

;;; clj -T:search/outdated
;;; |    :file |                    :name | :current | :latest |
;;; |----------+--------------------------+----------+---------|
;;; | deps.edn | clj-python/libpython-clj |    2.024 |   2.025 |
;;; |          |      com.taoensso/timbre |    6.1.0 |   6.3.1 |
