;;; https://github.com/borkdude/clj-kondo/blob/master/doc/config.md
{:lint-as {mount.core/defstate                   clj-kondo.lint-as/def-catch-all
           explainlib/defkb                      clj-kondo.lint-as/def-catch-all}}
